[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xmodmap
Comment=Load global and per-user Xmodmap file
Exec=/usr/bin/bash -c "for f in /etc/X11/Xmodmap ~/.Xmodmap ; do test -f $f && xmodmap $f || true ; done"
Terminal=false
Type=Application
Categories=
GenericName=
X-KDE-Autostart-Phase=2
